.triangle_vert {
  position: absolute;
  bottom: 0;
  left: 0;
  margin-left: -100px;
  margin-bottom: -200px;

  background: #6EFFE2;
  width: 120%;
  height: 250px;

  -webkit-animation: triangle_v 20s infinite cubic-bezier(0.14, 0.36, 0.59, 0.9);
  -ms-animation: triangle_v 20s infinite cubic-bezier(0.14, 0.36, 0.59, 0.9);
  animation: triangle_v 20s infinite cubic-bezier(0.14, 0.36, 0.59, 0.9);
}

@-webkit-keyframes triangle_v {
  0% {
    -webkit-transform: rotate(5deg) rotateZ(0deg) translate3d(2%, 5%, 0)
      rotateZ(0deg);
    -ms-transform: rotate(5deg) rotateZ(0deg) translate3d(2%, 5%, 0)
      rotateZ(0deg);
    transform: rotate(5deg) rotateZ(0deg) translate3d(2%, 5%, 0) rotateZ(0deg);
  }

  25% {
    -webkit-transform: rotate(7deg) rotateZ(90deg) translate3d(2%, 5%, 0)
      rotateZ(-90deg);
    -ms-transform: rotate(7deg) rotateZ(90deg) translate3d(2%, 5%, 0)
      rotateZ(-90deg);
    transform: rotate(7deg) rotateZ(90deg) translate3d(2%, 5%, 0)
      rotateZ(-90deg);
  }

  50% {
    -webkit-transform: rotate(4deg) rotateZ(180deg) translate3d(2%, 5%, 0)
      rotateZ(-180deg);
    -ms-transform: rotate(4deg) rotateZ(180deg) translate3d(2%, 5%, 0)
      rotateZ(-180deg);
    transform: rotate(4deg) rotateZ(180deg) translate3d(2%, 5%, 0)
      rotateZ(-180deg);
  }

  75% {
    -webkit-transform: rotate(2deg) rotateZ(270deg) translate3d(2%, 5%, 0)
      rotateZ(-270deg);
    -ms-transform: rotate(2deg) rotateZ(270deg) translate3d(2%, 5%, 0)
      rotateZ(-270deg);
    transform: rotate(2deg) rotateZ(270deg) translate3d(2%, 5%, 0)
      rotateZ(-270deg);
  }

  100% {
    -webkit-transform: rotate(5deg) rotateZ(360deg) translate3d(2%, 5%, 0)
      rotateZ(-360deg);
    -ms-transform: rotate(5deg) rotateZ(360deg) translate3d(2%, 5%, 0)
      rotateZ(-360deg);
    transform: rotate(5deg) rotateZ(360deg) translate3d(2%, 5%, 0)
      rotateZ(-360deg);
  }
}

@-ms-keyframes triangle_v {
  0% {
    -webkit-transform: rotate(5deg) rotateZ(0deg) translate3d(2%, 5%, 0)
      rotateZ(0deg);
    -ms-transform: rotate(5deg) rotateZ(0deg) translate3d(2%, 5%, 0)
      rotateZ(0deg);
    transform: rotate(5deg) rotateZ(0deg) translate3d(2%, 5%, 0) rotateZ(0deg);
  }

  25% {
    -webkit-transform: rotate(8deg) rotateZ(90deg) translate3d(2%, 5%, 0)
      rotateZ(-90deg);
    -ms-transform: rotate(8deg) rotateZ(90deg) translate3d(2%, 5%, 0)
      rotateZ(-90deg);
    transform: rotate(8deg) rotateZ(90deg) translate3d(2%, 5%, 0)
      rotateZ(-90deg);
  }

  50% {
    -webkit-transform: rotate(4deg) rotateZ(180deg) translate3d(2%, 5%, 0)
      rotateZ(-180deg);
    -ms-transform: rotate(4deg) rotateZ(180deg) translate3d(2%, 5%, 0)
      rotateZ(-180deg);
    transform: rotate(4deg) rotateZ(180deg) translate3d(2%, 5%, 0)
      rotateZ(-180deg);
  }

  75% {
    -webkit-transform: rotate(2deg) rotateZ(270deg) translate3d(2%, 5%, 0)
      rotateZ(-270deg);
    -ms-transform: rotate(2deg) rotateZ(270deg) translate3d(2%, 5%, 0)
      rotateZ(-270deg);
    transform: rotate(2deg) rotateZ(270deg) translate3d(2%, 5%, 0)
      rotateZ(-270deg);
  }

  100% {
    -webkit-transform: rotate(5deg) rotateZ(360deg) translate3d(2%, 5%, 0)
      rotateZ(-360deg);
    -ms-transform: rotate(5deg) rotateZ(360deg) translate3d(2%, 5%, 0)
      rotateZ(-360deg);
    transform: rotate(5deg) rotateZ(360deg) translate3d(2%, 5%, 0)
      rotateZ(-360deg);
  }
}

@keyframes triangle_v {
  0% {
    -webkit-transform: rotate(5deg) rotateZ(0deg) translate3d(2%, 5%, 0)
      rotateZ(0deg);
    -ms-transform: rotate(5deg) rotateZ(0deg) translate3d(2%, 5%, 0)
      rotateZ(0deg);
    transform: rotate(5deg) rotateZ(0deg) translate3d(2%, 5%, 0) rotateZ(0deg);
  }

  25% {
    -webkit-transform: rotate(8deg) rotateZ(90deg) translate3d(2%, 5%, 0)
      rotateZ(-90deg);
    -ms-transform: rotate(8deg) rotateZ(90deg) translate3d(2%, 5%, 0)
      rotateZ(-90deg);
    transform: rotate(8deg) rotateZ(90deg) translate3d(2%, 5%, 0)
      rotateZ(-90deg);
  }

  50% {
    -webkit-transform: rotate(4deg) rotateZ(180deg) translate3d(2%, 5%, 0)
      rotateZ(-180deg);
    -ms-transform: rotate(4deg) rotateZ(180deg) translate3d(2%, 5%, 0)
      rotateZ(-180deg);
    transform: rotate(4deg) rotateZ(180deg) translate3d(2%, 5%, 0)
      rotateZ(-180deg);
  }

  75% {
    -webkit-transform: rotate(2deg) rotateZ(270deg) translate3d(2%, 5%, 0)
      rotateZ(-270deg);
    -ms-transform: rotate(2deg) rotateZ(270deg) translate3d(2%, 5%, 0)
      rotateZ(-270deg);
    transform: rotate(2deg) rotateZ(270deg) translate3d(2%, 5%, 0)
      rotateZ(-270deg);
  }

  100% {
    -webkit-transform: rotate(5deg) rotateZ(360deg) translate3d(2%, 5%, 0)
      rotateZ(-360deg);
    -ms-transform: rotate(5deg) rotateZ(360deg) translate3d(2%, 5%, 0)
      rotateZ(-360deg);
    transform: rotate(5deg) rotateZ(360deg) translate3d(2%, 5%, 0)
      rotateZ(-360deg);
  }
}
